body {
    background-color: #000;
    color:#fff;
}

h1,h2,h3,h4,h5,h6,h7 {
    color:#fff;
}

.thumbnail {
    width: 100%;
}

.blueimp-gallery > .download {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;
}

.blueimp-gallery-controls > .download {
    display: block;
}

.center-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
}

.icon {
    width:32px;
    height:32px;
}

img.download {
    position:relative;
    top:-32px;
}

#blueimp-gallery h3.title {
    font-size: 10px;
    top:0;
}

a.folder{
    color:#ccc;
    font-size: 12px;
}

#things_inner {
    border-bottom: 1px solid #fff;
}

#things {
    border-bottom: 4px solid #fff;
}

hr {
    border: 0;
    height: 1px;
    background: #fff;
}

div.thing {
    background-color: #333;
}
