body {
    background-color: #868686;
}

.thumbnail{
    width:100%;
}

.blueimp-gallery > .download {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;
}
.blueimp-gallery-controls > .download {
    display: block;
}
